body {background-color: white}
h1 {font-family: times serif; font-size: 24pt; color:black;}
p {font-family: times serif; font-size: 18pt; color: black; }
a {font-family: times serif; font-size: 18pt; color: black}


 

